.input-field{
    display: flex;
    gap: 10px;
    border-radius: 5px 20px 5px 5px;
    padding: 7px 13px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    color: #35273A;
    width: 100%;
    box-sizing: border-box;
    border: none;

    &--error{
        box-shadow: inset 0 0 0 2px red;
    }

    &:focus{
        outline: none;
        background-color: #FEE9D4;
    }

    &--textarea{
        resize: none;

        @media (max-width:1324px) { 
            height: 108px;
        }
    }

    &--date{
        position: relative; 
        appearance: textfield;
        width: 223px;
        height: 34px;
        cursor: pointer;

        @media (max-width:1324px) {
            width: 100%;
        }
        

        &::-webkit-calendar-picker-indicator { 
            position: absolute;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}