<section class="question">
    <div class="question__h1-delete-btn">
        <h1 class="question__h1-delete-btn__h1">{{questionIndex}}. Question</h1>
        <app-delete-button (click)="removeQuestion(questionId)"></app-delete-button>
    </div>

    <app-input-field class="question__input-field"></app-input-field>

    <div class="question__h2-checkbox-wiht-text">
        <h2 class="question__h2-checkbox-wiht-text__h2">{{'Answears'}}</h2>
        <div class="question__h2-checkbox-wiht-text__checkbox-wiht-text">
            <app-check-box [whiteBorder]="true"></app-check-box>
            <span class="question__h2-checkbox-wiht-text__checkbox-wiht-text__text">{{'Allow multiple answers.'}}</span>
        </div>
    </div>

    @for (item of answearsList(); track item.id; let i=$index;) {

        <div class="question__answear-input-desktop">
            <span class="question__answear-input-desktop__span">{{fromNumberToChar(i)}}.</span>
            <app-input-field class="question__answear-input-desktop__input"></app-input-field>
            <app-delete-button (click)="removeAnswear(item.id)"></app-delete-button>
        </div>

        <div class="question__answear-input-mobile">
            <div class="question__answear-input-mobile__span-button">
                <span class="question__answear-input-mobile__span-button__span">{{fromNumberToChar(i)}}.</span>
                <app-delete-button class="question__answear-input-mobile__span-button__button" (click)="removeAnswear(item.id)"></app-delete-button>
            </div>
            <app-input-field class="question__answear-input-mobile__input"></app-input-field>
        </div>
    }

    <div class="question__footer" [class.question__footer--just-cont-flex-end]="answearsList().length >= 6">
        @if (answearsList().length < 6) {
            <app-tertiary-button (click)="addAnswear()" class="question__footer__button" [buttonText]="'Add answer'"></app-tertiary-button>
        }
        @if (answearsList().length > 2) {
            <span  class="question__footer__span">{{'You can add up to 6 answer fields.'}}</span>
        }
    </div>
</section>