.question{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 428px;

    @media (max-width:1324px) {
        width: 100%;
    }

    &__h1-delete-btn{
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media (max-width:1324px) {
            margin-right: 16px;
        }

        &__h1{
            margin: 0;
            font-family: 'Mulish';
            font-weight: 700;
            font-size: 18px;
            color: #FEFDFF;
        }
    }

    &__input-field{
        margin-top: -24px;
    }

    &__h2-checkbox-wiht-text{
        display: flex;
        justify-content: space-between;
        margin-bottom: -8px;

        @media (max-width:340px) {
            flex-direction: column-reverse;
            gap: 4px;
        }

        &__h2{
            margin: 0;
            font-family: 'Mulish';
            font-weight: 700;
            font-size: 18px;
            color: #FEFDFF;
        }

        &__checkbox-wiht-text{
            display: flex;
            flex-direction: row;
            gap: 4px;

            &__text{
                font-family: 'Mulish';
                font-weight: 400;
                font-size: 12px;
                color: white;
            }
        }
    }

    &__answear-input{
        display: flex;

        @media (min-width:1324px) {
            flex-direction: row;
        }

        @media (max-width:1323px) {
            flex-direction: column;
        }

        align-items: center;
        gap: 8px;

        &__span-button-mobile{
            display: none;
            
            @media (max-width:1323px) {
                display: flex;
                justify-content: space-between;
                width: 100%;
        
                &__span{
                    font-family: 'Mulish';
                    font-weight: 700;
                    font-size: 18px;
                    color: #FEFDFF;
                }
        
                &__button{
                    padding-right: 16px;
                }
            }
        }
    
        &__span-desktop{
            @media (max-width:1323px) {
                display: none;
            }

            font-family: 'Mulish';
            font-weight: 700;
            font-size: 18px;
            color: #FEFDFF;
        }
        
        &__input{
            width: 100%;
        }

        &__button-desktop{
            @media (max-width:1323px) {
                display: none;
            }
        }
    }

    &__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        &--just-cont-flex-end{
            justify-content: flex-end;
        }

        &__button{
            margin-left: 26px;

            @media (max-width:1323px) {
                margin-left: 0;
            }
        }

        &__span{
            font-family: 'Mulish';
            font-weight: 400;
            font-size: 12px;
            color: white;
        }
    }
}