.results{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 348px;

    @media (max-width:370px){
        width: fit-content;
    }

    &__h1{
        margin: 0;
        font-family: 'Mulish';
        font-weight: 700;
        font-size: 18px;
        color: #35273A;
    }

    &__answers{
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__answer{
            display: flex;
            gap: 6px;

            &__span{
                font-family: 'Mulish';
                font-size: 12px;
                
                &--enumeration{
                    font-weight: 700;
                    color: #35273A;
                    width: 15.2px;
                }

                &--percentValue{
                    font-weight: 800;
                    color: #D79451;
                }
            }

            &__bar-body{
                width: 255px;
                height: 14px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background-color: #EDEDED;

                @media (max-width:370px){
                    width: 220px;
                }

                &__bar{
                    width: 0%;
                    height: 14px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background-color: #FFB770;
                }
            }
        }
    }
}