@use '../../../shared/styles/abstracts/mixins';

.results{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 348px;

    @media (max-width:370px){
        width: fit-content;
    }

    &__h1{
        margin: 0;
        @include mixins.font('Mulish', 18px, #35273A, 700);
    }

    &__answers{
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__answer{
            display: flex;
            gap: 6px;

            &__span{
                &--enumeration{
                    @include mixins.font('Mulish', 12px, #35273A, 700);
                    width: 15.2px;
                }

                &--percentValue{
                    @include mixins.font('Mulish', 12px, #D79451, 800);
                }
            }

            &__bar-body{
                width: 255px;
                height: 14px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background-color: #EDEDED;

                @media (max-width:370px){
                    width: 220px;
                }

                &__bar{
                    width: 0%;
                    height: 14px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background-color: #FFB770;
                }
            }
        }
    }
}