.drop-down-body{
    display: flex;
    flex-direction: column;
    height: 60px;
}

.drop-down{
    display: flex;
    flex-direction: row;
    gap: 4px;
    border-radius: 6px;
    padding: 4px 6px 4px 10px;
    cursor: pointer;
    position: relative;

    &--open-selected{
        background-color: #D9D9D91F;
    }

    &__span{
        font-family: 'Mulish';
        font-weight: 700;
        font-size: 18px;
        color: white;
    }

    &__icon{
        background-image: url('/assets/img/drop_down_arrow_down-white.png');
        height: 24px;
        aspect-ratio: 1/1;
        
        &--selected{
            background-image: url('/assets/img/drop_down_arrow_down-orange.png');
        }
        
        &--open{
            background-image: url('/assets/img/drop_down_arrow_up-orange.png');
        }
    }

    &:not(.drop-down--open):hover{
        background-color: #D9D9D91F;

        >.drop-down__icon:not(.drop-down__icon--open){
            background-image: url('/assets/img/drop_down_arrow_down-orange.png');
        }
    }
}

.drop-down-single-menu {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 4px;
    border-radius: 6px;
    background-color: white;

    &__selection{
        width: fit-content;
        border-radius: 6px;
        padding: 4px;
        cursor: pointer;

        &:hover{
            background-color: #F4E9FB;
        }
        
        &__span{
            font-family: 'Mulish';
            font-weight: 400;
            font-size: 14px;
            color: #35273A;
        }
    }
}

.selected-menu{
    border-radius: 6px;
    padding: 4px 4px 4px 10px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 14px;
    color: #FFB770;
}