<section class="drop-down-body">
    <div class="drop-down" [class.drop-down--open-selected]="isOpenOrSelected()" (click)="open($event)">
        <span class="drop-down__span">{{dropDownText}}</span>
        <div class="drop-down__icon" [class.drop-down__icon--open]="isOpen()" [class.drop-down__icon--selected]="isSelected()" ></div>
    
        @if (isOpen()) {
            <div class="drop-down-single-menu">
                @for (item of sinlgeMenuList; track $index; let i = $index) {
                    <div class="drop-down-single-menu__selection" (click)="selected(i)">
                        <span class="drop-down-single-menu__selection__span" >{{item.title}}</span>
                    </div>
                }
            </div>
        }
    </div>
    
    <span class="selected-menu">{{selectedMenu}}</span>
</section>