<label class="custom-checkbox" [class.custom-checkbox--no-pointer-events]="isPartOfAnswear">
  @if(isPartOfCreateSurvey){
    <input #customCheckboxInput class="custom-checkbox__input" [formControl]="nameControl">
  }
  @else if(isPartOfViewSurvey){
    <input #customCheckboxInput class="custom-checkbox__input" [formControl]="answerView" [checked]="checkedComputed()">
  }
  @else {
    <input #customCheckboxInput class="custom-checkbox__input" [checked]="checkedComputed()">
  }
  <span class="custom-checkbox__checkmark" [class.custom-checkbox__checkmark--border-color-white]="whiteBorder"></span>
</label>

