<!-- <label class="custom-checkbox" [class.custom-checkbox--hover]="!isChecked()" [class.custom-checkbox--no-pointer-events]="isWithText"> -->
  <!-- @if(isPartOfCreateSurvey){
    <input #customCheckboxInput class="custom-checkbox__input" [formControl]="nameControl">
  }
  @else if(isPartOfViewSurvey){
    <input #customCheckboxInput class="custom-checkbox__input" [formControl]="answerView">  [checked]="checkedComputed()"
    @if(isWithText){
      <div class="custom-checkbox__spans">
        <span class="custom-checkbox__spans__enumeration">{{spanEnumeration}}</span>
        <span class="custom-checkbox__spans__text">{{spanText}}</span>
      </div>
    }
  }
  @else {
    <input #customCheckboxInput class="custom-checkbox__input"> [checked]="checkedComputed()"
  } -->
<label class="custom-checkbox" [class.custom-checkbox--no-pointer-events]="isWithText">
  @if(isWithText){
    <div class="custom-checkbox__spans">
      <span class="custom-checkbox__spans__enumeration">{{spanEnumeration}}</span>
      <span class="custom-checkbox__spans__text">{{spanText}}</span>
    </div>
  }
  <input (click)="onToggle()" #customCheckboxInput class="custom-checkbox__input" [class.custom-checkbox__input--hover]="withInputHover">
  <span class="custom-checkbox__checkmark" [class.custom-checkbox__checkmark--border-color-white]="whiteBorder"></span>
</label>

