<section class="question">
        <div class="question__h1-span">
            <h1 class="question__h1-span__h1">{{questionNumber}}. {{question.question}}</h1>
    
            @if (question.multipleAnswers && question.question.length != 0) {
                <span class="question__h1-span__span">More than one answers are possible.</span>
            }
        </div>
        <div class="question__answear">
            @for(item of question.answers; track item.id){
                @if (!question.multipleAnswers) {
                     <app-check-box [answersFormArray]="answersFormArray()" [answerView]="answerView($index)" [isWithText]="true" [spanEnumeration]="csService.convertToChar($index) + '.'" [spanText]="item.answer" [multipleAnswers]="{'boolen':false, name: `${question.id}`}"></app-check-box>
                }
                @else {
                     <app-check-box [answersFormArray]="answersFormArray()" [answerView]="answerView($index)" [isWithText]="true"  [spanEnumeration]="csService.convertToChar($index) + '.'" [spanText]="item.answer" [multipleAnswers]="true"></app-check-box>
                }
            }
            @empty {
                <p class="question__answear__empty">This question has no answers to choose from.</p>
            }
        </div>
</section>