@use '../../../shared/styles/abstracts/mixins';

.question{
    display: flex;
    gap: 24px;
    flex-direction: column;
    max-width: 292px;
    min-width: 227px;

    &__h1-span{
        display: flex;
        gap: 3px;
        flex-direction: column;

        &__h1{
            @include mixins.font('Mulish', 18px, #35273A, 700);
            margin: 0;
        }

        &__span{
            padding-left: 24px;
            @include mixins.font('Mulish', 12px, #35273A, 400);
        }
    }

    &__answear{
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__empty{
            margin: 0;
            padding: 12px;
            background-color: lightgrey;
            margin-top: -20px;
            margin-bottom: 20px;
            @include mixins.font('Mulish', 16px, #35273A, 400);
        }
    }
}