<section class="page">
    <div class="page__body">
        <header class="header">
            <!-- <img src="/assets/img/logo-purple-dark.png" alt="icon"> -->
            <div routerLink="" class="header__img-box">
                <img src="assets/img/logo-purple-dark.png" alt="icon">
            </div>
            <app-primary-button routerLink="/create-question" [btnText]="'Create survey'" [withIcon]="{'isWithIcon': true, 'iconUrl': '/assets/img/add_circle_primary-button.png'}"></app-primary-button>
        </header>

        <section class="section" [class.section--al-it-end]="true"> <!--true / false-->
            <article class="section__left">
                <app-survey-status [statusText]="'Published'"></app-survey-status>
                <div class="section__left__info">
                    <div class="section__left__info__spans">
                        <span class="section__left__info__spans__span">Ends on {{currentQuesten().endDate}}</span>
                        <span class="section__left__info__spans__span">Category: {{currentQuesten().category}}</span>
                    </div>
                    <h1 class="section__left__info__h1">{{currentQuesten().name}}</h1>
                    <span class="section__left__info__span">{{currentQuesten().description}}</span>
                </div>
                <div class="section__left__questions">
                    @for (item of currentQuesten().questions; track item.id) {
                        <app-question [question]="item" [questionNumber]="$index + 1"></app-question>
                    }
                </div>
                @if(!isPlaceholder()){
                    <app-secondary-button class="section__left__btn" [btnText]="'Complete survey'" [secondColor]="true"></app-secondary-button>
                }
                @if(isPlaceholder()) {
                    <div class="button-disable-body">
                        <app-secondary-button class="section__left__btn" [btnText]="'Complete survey'" [secondColor]="true"></app-secondary-button>
                        <div class="button-disable-body__box"></div>
                    </div>
                }

            </article>

            <article class="section__right" [class.section__right--ma-top200]="false"> <!--true / false-->
                <h1 class="section__right__h1">Survey results <span class="section__right__h1__span">LIVE</span></h1>
                @if(true){ <!--true / false-->
                    <div class="section__right__results-box">
                        @for (item of currentQuesten().questions; track $index) {
                            <app-results [question]="item" [questionNumber]="$index + 1"></app-results>
                        }
                    </div>
                }
                @else{
                    <div class="section__right__spans">
                        <span class="section__right__spans__span">Results will be shown here after participants complete the survey.</span>
                        <span class="section__right__spans__span section__right__spans__span--al-se-ce">There are no answears yet.</span>
                    </div>
                }
            </article>
        </section>
    </div>
</section>