.btn{
    cursor: pointer;
    background-image: url('/assets/img/trash.png');
    background-repeat: no-repeat;
    height: 26px;
    aspect-ratio: 1 / 1;

    &:hover{
        background-image: url('/assets/img/trash-hover.png');
    }
}