<div class="hero-img">
    <img class="hero-img__main" src="assets/img/hero-main.png" alt="hero-img" />
    <img class="hero-img__movement-one" src="assets/img/hero-movement-1.svg" alt="hero-movement" />
    <img class="hero-img__movement-two" src="assets/img/hero-movement-2.svg" alt="hero-movement" />
    <img class="hero-img__movement-three" src="assets/img/hero-movement-3.svg" alt="hero-movement" />
    <img class="hero-img__movement-four" src="assets/img/hero-movement-4.svg" alt="hero-movement" />
</div>
