<div class="highlights-card" data-id="{{id}}" (mouseenter)="hover.set(true)" (mouseleave)="hover.set(false)">
    <div class="highlights-card__text__h1">
        <span class="highlights-card__text-h1__text">{{highlightsCardText}}</span>
        <h1 class="highlights-card__text-h1__h1">{{highlightsCardH1}}</h1>
    </div>
    <app-survey-status class="highlights-card__status" [colorType]="'tertiary'" [colorHoverType]="'primary'" [statusText]="'Ends in 1 Day'" [withpaddingTB3LR6]="true" [withHover]="hover()"></app-survey-status>
</div>