@use '../../../shared/styles/abstracts/mixins';

.btn{
    display: flex;
    flex-direction: column;
    padding: 9px 16.79px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover{
        background-color: #FAF5FE33;
    }

    &__text-icon{
        display: flex;
        gap: 8px;
        white-space: nowrap;

        &__text{
            @include mixins.font('Nokora', 16px, #FEFDFF, 700);
        }

        &__icon{
            height: 16px;
            aspect-ratio: 1/1;
        }
    }

    &__underline {
        height: 1px;
        width: 100%;
        background-color: white;
    }
}