.answear{
    display: flex;
    gap: 16px;
    padding: 0 4px;
    width: 291px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;

    &--hover:hover{
        background-color: #FFCFA166;
    }

    > app-check-box{
        .answear[_ngcontent-ng-c162691128]{
            background-color: red;
        }
    }

    &__spans{
        display: flex;
        gap: 4px;

        font-family: 'Mulish';
        font-size: 16px;
        color: #35273A;

        &__enumeration{
            font-weight: 700;
        }
    
        &__text{
            font-weight: 400;
        }
    }

}