@use '../../../shared/styles/abstracts/mixins';

.status{
    border-top-right-radius: 14px;
    padding: 3px 12px 3px 10px;
    width: fit-content;
    cursor: default;

    &--paddingTB3-LR6 {
        padding: 3px 6px;
    }

    &--primary-bg-color{
        background-color: #FFB770;
    }

    &--secondary-bg-color{
        background-color: #FEE9D4;  
    }

    &--tertiary-bg-color{
        background-color: #FFCFA1;
    }

    &--hover-primary-bg-color{
        background-color: #FFB770;
    }

    &__text{
        @include mixins.font('Mulish', 16px, #221227, 600);

        &--fs12{
            font-size: 12px;
        }
    }
}