.status{
    border-top-right-radius: 14px;
    padding: 3px 12px;
    width: fit-content;

    &--primary-bg-color{
        background-color: #FFB770;
    }

    &:not(.status--secondary-bg-color, .status---bg-color):hover, &--secondary-bg-color{
        background-color: #FEE9D4;
    }

    &__text{
        font-family: 'Mulish';
        font-weight: 600;
        font-size: 16px;
        color: #221227;
    }
}